
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: medium;
    background-color:rgb(174, 214, 253);
    padding: 5px;       

}
.nav-link {
    color: black;
  }
  
.nav-link.active {
    background-color: white;
    font-weight: bolder;
    color: black;
  }

.skip-link {
    position: absolute;
    display: inline-block;
    margin-top: -8px;
    padding: 10px;
    line-height: 1;
    font-size: 15px;
    color: black    ;
    transform: translateY(0);
    transition: transform 250ms ease-in;
  }

  .skip-link:not(:focus) {
    transform: translateY(-5rem);
  }
header{border-radius: 15px;
    border-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h1{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;}

h2{text-align: center;
    border-style:solid;
    color: black;
    border-color: black;
    background-color: rgb(220, 245, 255);
    border-width: 2px;
    padding: 5px; 
    
}

h3{text-align:center;
    font-size: 25px;
    color: navy;
    }

.travel_grid_1{
    display: grid;
    grid-template-columns: 375px;
    text-align: center;
    font-size: 10px;
    place-content:center;
}

.item_1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width:auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_3 {
    grid-column: 1/2;
    grid-row: 3/4;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_4 {
    grid-column: 1/2;
    grid-row: 4/5;
    width: auto;
    overflow:hidden;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}


.travel_grid_2{
    display: grid;
    grid-template-columns: 375px;
    text-align: center;
    font-size: 10px;
    place-content:center;
}

.item_5 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_6 {
    grid-column: 1/2;
    grid-row: 2/3;
    width:auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_7 {
    grid-column: 1/2;
    grid-row: 3/4;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_8 {
    grid-column: 1/2;
    grid-row: 4/5;
    width: auto;
    overflow:hidden;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}

.travel_grid_3{
    display: grid;
    grid-template-columns: 375px;
    text-align: center;
    font-size: 10px;
    place-content:center;
}

.item_9 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_10 {
    grid-column: 1/2;
    grid-row: 2/3;
    width:auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_11 {
    grid-column: 1/2;
    grid-row: 3/4;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_12 {
    grid-column: 1/2;
    grid-row: 4/5;
    width: auto;
    overflow:hidden;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}

.travel_grid_4{
    display: grid;
    grid-template-columns: 375px;
    text-align: center;
    font-size: 10px;
    place-content:center;
}

.item_13 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_14 {
    grid-column: 1/2;
    grid-row: 2/3;
    width:auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_15 {
    grid-column: 1/2;
    grid-row: 3/4;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_16 {
    grid-column: 1/2;
    grid-row: 4/5;
    width: auto;
    overflow:hidden;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.travel_grid_5{
    display: grid;
    grid-template-columns: 375px;
    text-align: center;
    font-size: 10px;
    place-content:center;
}

.item_17 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_18 {
    grid-column: 1/2;
    grid-row: 2/3;
    width:auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_19 {
    grid-column: 1/2;
    grid-row: 3/4;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_20 {
    grid-column: 1/2;
    grid-row: 4/5;
    width: auto;
    overflow:hidden;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.pet_grid_1{
    display: grid;
    grid-template-columns: 180px;
    place-content:center;
    font-size: 10px;
  
}

.item_a {
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_b {
    grid-column: 1/2;
    grid-row: 2/3;
    width:auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_c {
    grid-column: 1/2;
    grid-row: 3/4;
    width: auto;
    overflow:hidden;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}


.pet_grid_2{
    display: grid;
    grid-template-columns: 300px;
    place-content:center;
    font-size: 10px;
    text-align:center;
  
}

.item_d {
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_e {
    grid-column: 1/2;
    grid-row: 2/3;
    width:auto;
    overflow:hidden;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color:black;
    border-style: solid;
}
.item_f {
    grid-column: 1/2;
    grid-row: 3/4;
    width: auto;
    overflow:hidden;
    border-top-width: 0px;
    border-color:black;
    border-style: solid; }


.pet_grid_3{
    display: grid;
    grid-template-columns: 300px;
    place-content:center;
    font-size: 10px;
    text-align:center;
      
    }
    
    .item_g {
        grid-column: 1/2;
        grid-row: 1/2;
        width: auto;
        overflow:hidden;
        border-bottom-width: 0px;
        border-color:black;
        border-style: solid;
    }
    .item_h {
        grid-column: 1/2;
        grid-row: 2/3;
        width:auto;
        overflow:hidden;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-color:black;
        border-style: solid;
    }
    .item_i {
        grid-column: 1/2;
        grid-row: 3/4;
        width: auto;
        overflow:hidden;
        border-top-width: 0px;
        border-color:black;
        border-style: solid; }

    .cookie{
        place-content:center;
        width: 390px;
        overflow: hidden;
        border-color:black;
        border-style: solid;
        }
 
    .bread{
        place-content:center;
        width: 390px;
        overflow: hidden;
        border-color:black;
        border-style: solid;
            }

    .pancake{
        place-content:center;
        width: 390px;
        overflow: hidden;
        border-color:black;
        border-style: solid;
        }